/* Los estilos de tu proyecto */

/*tags*/

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 div.navbar-header {
  background-color: white;
}

 div.navbar-header > a {
  padding-left: 10vw;
}

 div.navbar-header > button {
  margin-left: 5vw;
}

 div.jumbotron_1 {
  background-image: url("../assets/images/taxi.jpg");
  background-position:100% 92%;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
  padding-top: 18vh;
}

div.jumbotron_2 {
background-color: #f7b617;
height: 70vh;
margin-bottom: 0;
}

div.media {
border-color: white;
border-style: solid;
}

h2.media-body, p.media-body {
text-align: justify;
color: white;
}

footer {
color: white;
background-color: black;
height: auto;
position: relative;
}

/* ID´S*/

#bs-example-navbar-collapse-1 {
  background-color: white;
}

#drive-btn{
	background-color: #F7B617;
	color: #FFFFFF;
}

/* Tamaño y margenes mapa*/
#map {
  height: 30vh;
  width: 100%;
  margin: 2vh 0;
}

/*clases*/

.drive {
	max-width: 1920px;
	width: 100%;
	height: 100%;
	margin: 0 auto; /*0 para quitar el margen por default, Auto para centrar cosas*/
	background-image: url("../assets/images/conduce.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0;
}

.drive-container{
	margin: 0;
}

.drive-content{
	padding: 10% 0 10% 3%;
	background: rgba(1, 1, 3, .5);
	color: #FFFFFF;
	margin: 0 auto;
	height: 100%;
}

.col-md-4 {
  background-color: #f7b617;
  height: 60vh;
}

.col-md-4 > hr {
	height: 1px;
  width: 50%;
}

.col-md-4 > h2 {
  text-align: justify;
  font-weight: bolder;
  color: white;
  padding-bottom: 0px;
}

.col-md-4 > p {
font-size: x-large;
font-weight: bolder;
color: white;
white-space: nowrap;
padding-top: 15px;
}

.col-md-4 > p > img {
padding-bottom: 8px;
width: 7vw;
}

.col-md-10 {
background
height: 70vh;
margin-bottom: 0;
}

.conduce {
background-color: #000;
color: white;
filter: opacity(60%);
}

/*Derechos de autor*/
.copyright {
  border-top: 1px solid #fff;
  padding-top: 0.8em;
}

/* Línea footer*/
.border-bottom-white {
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
}

/* Estilo float right simple*/
.float-right {
  float: right;
  overflow: hidden;
}

.font-size-mini {
  font-size: 12px;
}

/*Estilos footer*/
.footer-labC {
  margin: 0.7em 0;
}
.footer-menu {
  color: #fff;
  margin: 1em 0;
  cursor: pointer;
}
.footer-icon {
  margin: 0.3em;
}
.footer-menu:hover {
  color: #FFC107;
}

.form-control:-moz-placeholder {
  color: white;
}
.form-control::-moz-placeholder {
  color: white;
}
.form-control:-ms-input-placeholder {
  color: white;
}
.form-control::-ms-input-placeholder {
  color: white;
}
.form-control::-webkit-input-placeholder {
  color: white;
}

/*Estilo input en map-section*/
.input-inline-block {
  display: inline-block;
  width: 20vw;
}

/*Iconos input map-section*/
.input-name {
  margin: 4vh 0;
}

/*Logo blanco*/
.logo-white {
  width: 18vw;
  display: inline;
  margin-bottom: 5px;
  margin-left: 10px;
}

.margin-map {
  margin-top: 6vh;
}
.margin-second-section {
  margin: 1em 1em 1em 0;
}

/*Padding y margin mapa*/
.map-section {
  padding-bottom: 4vh;
}

/*Contenedor iconos redes sociales*/
.social-media-container {
  margin: 1em 0 0.5em 0;
}

/*Imagenes tiendas app*/
.store-logo-footer {
  width: 8em;
  height: auto;
  margin: 0.3em;
}

/*Iconos localización*/
.shape {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
}

/*Fondo blanco*/
.white {
  background-color: #fff;
}
/*Borde blanco*/
.white-border {
  border: 1px solid #fff;
  position: relative;
  left: 4%;
}

/*Fondo amarillo*/
.yellow-background {
  background-color: #F7B617;
}

/*Sección fondo amarillo*/
.yellow {
  background-color: #F7B617;
  height: auto;
  width: 75vw;
  margin: 14vh 0;
  padding: 1.5rem;
}
